<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us | IngOn: Thai Ingredient Substitution</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/navbar-style.css">
    <link rel="stylesheet" href="css/aboutus-style.css">
    <link rel="stylesheet" href="css/searchIngredient-style.css">
    <script src="javascript/searchIngredient.js"></script>
    <script src="javascript/retrieveInformation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).on("scroll", function() {
            var pageTop = $(document).scrollTop();
            var pageBottom = pageTop + $(window).height();
            var tags = $(".tag");

            for (var i = 0; i < tags.length; i++) {
                var tag = tags[i];
                if ($(tag).position().top < pageBottom) {
                    $(tag).addClass("visible");
                } else {
                    $(tag).removeClass("visible");
                }
            }
        });
    </script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">IngOn</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar5">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar5">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a href="/" class="nav-link">HOME</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">INGREDIENT</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/ingredient?id=Cereal"> Cereal</a></li>
                        <li><a class="dropdown-item" href="/ingredient?id=Egg"> Egg </a></li>
                        <li><a class="dropdown-item" href="/ingredient?id=Fruit"> Fruit </a></li>
                        <li><a class="dropdown-item" href="/ingredient?id=Insect"> Insect </a></li>
                        <li><a class="dropdown-item" href="/ingredient?id=Milk"> Milk </a></li>
                        <li><a class="dropdown-item" href="/ingredient?id=Meat_Poultry"> Meat/Poultry </a></li>
                        <li><a class="dropdown-item" href="/ingredient?id=Pulse_Seed_Nut"> Pulse/Seed/Nut </a></li>
                        <li><a class="dropdown-item" href="/ingredient?id=Shellfish"> Shellfish </a></li>
                        <li><a class="dropdown-item" href="/ingredient?id=Spice_Condiment"> Spice </a></li>
                        <li><a class="dropdown-item" href="/ingredient?id=StarchyRoot_Tuber"> Starchy Root/Tuber </a></li>
                        <li><a class="dropdown-item" href="/ingredient?id=Vegetable"> Vegetable </a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/visualization" class="nav-link">VISUALIZATION</a>
                </li>
                <li class="nav-item">
                    <a href="/document" class="nav-link">DOCUMENT</a>
                </li>
                <li class="nav-item active">
                    <a href="/aboutus" class="nav-link">ABOUT US</a>
                </li>
            </ul>
            <div id="search-box">
                <!-- Search by ingredient -->
                <form class="input-group" id="search-form" action="/searchByName" method="POST">
                    <input type="text" name="ingredient"
                           id="targetInput"
                           oninput="autoCompleteSearch()"
                           class="form-control"
                           placeholder="What kind of ingredient are you looking for?"
                           aria-label="Search"
                           aria-describedby="search-button">
                    <!--                            <div id="suggestionList"></div>-->
                    <button type="submit" class="btn btn-primary search-button">Search</button>
                </form>
                <!-- Search by category and property-->
                <!--                    <form class="input-group" id="property-form" action="/searchByProperty" method="POST">-->
                <!--                        <div class="input-group-dropdown">-->
                <!--                            <select class="custom-select" id="propertyMenu" name="propertyMenu">-->
                <!--                                <option value="hasBenefit">Benefit</option>-->
                <!--                                <option value="hasColor">Color</option>-->
                <!--                                <option value="canCook">Cooking Type</option>-->
                <!--                                <option value="hasMineral">Mineral</option>-->
                <!--                                <option value="hasNutrient">Nutrient</option>-->
                <!--                                <option value="hasShape">Shape</option>-->
                <!--                                <option value="hasSugar">Sugar</option>-->
                <!--                                <option value="hasTexture">Texture</option>-->
                <!--                                <option value="hasVitamin">Vitamin</option>-->
                <!--                            </select>-->
                <!--                        </div>-->
                <!--                        <div id="categoryField">-->
                <!--                            <select class="custom-select" id="categoryMenu" name="categoryMenu">-->
                <!--                                <option value="Cereal">Cereal</option>-->
                <!--                                <option value="Egg">Egg</option>-->
                <!--                                <option value="Fruit">Fruit</option>-->
                <!--                                <option value="Insect">Insect</option>-->
                <!--                                <option value="Milk">Milk</option>-->
                <!--                                <option value="Meat_Poultry">Meat/Poultry</option>-->
                <!--                                <option value="Pulse_Seed_Nut">Pulse/Seed/Nut</option>-->
                <!--                                <option value="Shellfish">Shellfish</option>-->
                <!--                                <option value="Spice_Condiment">Spice</option>-->
                <!--                                <option value="StarchyRoot_Tuber">Starchy Root/Tuber</option>-->
                <!--                                <option value="Vegetable">Vegetable</option>-->
                <!--                            </select>-->
                <!--                        </div>-->
                <!--                        <div id="addedInputField">-->
                <!--                            <input type="text"-->
                <!--                                   id="propertyNode"-->
                <!--                                   name="propertyNode"-->
                <!--                                   class="form-control"-->
                <!--                                   placeholder="Search properties..."-->
                <!--                                   oninput="autoCompleteSearch()"-->
                <!--                            />-->
                <!--                        </div>-->
                <!--                        <button class="btn btn-outline-secondary border border-left-0" type="submit">-->
                <!--                            <i class="fa fa-search"></i>-->
                <!--                        </button>-->
                <!--                    </form>-->
                <div id="suggestionList"></div>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-9 my-5">
    <div class="row">
        <section class="yellow"><h1>Motivation</h1>
            <p>We are driven by a deep understanding of the importance of cooking and the necessity of sustenance.
                We recognize the challenges that arise when certain ingredients are unavailable or unsuitable due to allergies or regional differences, especially in Thai cuisine. Traditional search engines often fall short in providing specific information about these unique and specialized ingredients. That's why we develop a web application that utilizes an ingredient ontology. This tool captures the relationships and properties of Thai ingredients, providing suitable substitutions without compromising on flavor, texture, or nutritional value. Our goal is to make cooking more accessible and enjoyable, while also reducing food waste. This is our motivation to make cooking more accessible, efficient, and enjoyable for everyone.</p>
        </section>
    </div>
    <div class="row">
        <section class="tag green"><h1>Web Description</h1>
            <p>Our IngOn, proposes an innovative approach through the development of an ingredient ontology which is a structured knowledge base tailored to the nuances of Thai ingredients, utilizing Description Logics for precision. Our web application is designed to empower cooks of all levels, offering a user-friendly way that allows people who use the platform to navigate in our website in order to make their recipe customization easily based on dietary preferences and restrictions. By focusing on Thai local ingredients and their substitutions, our project aims to not only preserve the authenticity of dishes but also contribute to cost-effective and health-conscious culinary solutions.
            </p>
        </section>
    </div>
</div>
<p></p>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>