<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IngOn: Thai Ingredient Substitution</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body >
<div class="background-container homepage">
    <div class="header">
        <div class="logo">
            <!-- <img class="logo-img" src="logo.png"> -->
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/" class="nav-link current">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="/aboutus" class="nav-link">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">INGREDIENT</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container mt-5 main-container">
        <div class="content">
            <div class="section">
                <div class="section-text">
                    <h2 class="section-title">Don't have enough White Holy Basil for your meal?<br>Let's find your substitution ingredient!</h2>
                    <div class="section-description">
                        <p class="section-paragraph">We have more than 100 ingredients that can find in Thailand to share with you, which consists of <b>8 main categories</b> based on food group from Bureau of Nutrition, Thailand. Find a substitution for your missing ingredients here!</p>
                    </div>
                    <form class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="search-button">
                        <button class="btn btn-primary" type="submit" id="search-button">Search</button>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="script.js"></script>
</body>

</html>