<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IngOn: Thai Ingredient Substitution</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index-style.css">
    <link rel="stylesheet" href="css/navbar-style.css">

</head>

<body class="background-container homepage">
<div class="header">
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/homepage" class="nav-link active">HOME</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">INGREDIENT</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/ingredient?id=Cereal"> Cereal</a></li>
                    <li><a class="dropdown-item" href="/ingredient?id=Egg"> Egg </a></li>
                    <li><a class="dropdown-item" href="/ingredient?id=Fruit"> Fruit </a></li>
                    <li><a class="dropdown-item" href="/ingredient?id=Insect"> Insect </a></li>
                    <li><a class="dropdown-item" href="/ingredient?id=Milk"> Milk </a></li>
                    <li><a class="dropdown-item" href="/ingredient?id=Meat_Poultry"> Meat/Poultry </a></li>
                    <li><a class="dropdown-item" href="/ingredient?id=Pulse_Seed_Nut"> Pulse/Seed/Nut </a></li>
                    <li><a class="dropdown-item" href="/ingredient?id=Shellfish"> Shellfish </a></li>
                    <li><a class="dropdown-item" href="/ingredient?id=Spice_Condiment"> Spice </a></li>
                    <li><a class="dropdown-item" href="/ingredient?id=StarchyRoot_Tuber"> Starchy Root/Tuber </a></li>
                    <li><a class="dropdown-item" href="/ingredient?id=Vegetable"> Vegetable </a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/visualization" class="nav-link">VISUALIZATION</a>
            </li>
            <li class="nav-item">
                <a href="/document" class="nav-link">DOCUMENT</a>
            </li>
            <li class="nav-item">
                <a href="/aboutus" class="nav-link">ABOUT US</a>
            </li>
        </ul>
    </nav>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-5">
            <div class="content">
                <div class="section">
                    <div class="section-text">
                        <h1 class="section-title">IngOn</h1>
                        <h2>Don't have enough Holy Basil for your meal?<br>Let's find your substitution ingredient!</h2>
                        <div class="section-description">
                            <p class="section-paragraph">We have more than 100 ingredients that can be found in Thailand to share with you, which consists of <b>11 main categories</b> based on food groups from the Bureau of Nutrition, Thailand. Find a substitution for your missing ingredients here!</p>
                        </div>
                        <form class="input-group">
                            <input type="text" class="form-control" placeholder="What kind of ingredient are you looking for?" aria-label="Search" aria-describedby="search-button">
                            <button class="btn btn-primary" id="search-button">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img class="props-img" src="prop3.png">
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>
