body {
    height: 100vh;
    width: 100vw;
    background-color: #F5F8EC;
    margin: 0;
    padding: 0;
}

#largePic {
    width: max-content;
    height: 100vh;
}

.content {
    height: 100vh;
}

#content2 {
    margin-top: 30px;
}

.col-md-8 {
    margin-top: 80px;
    padding: 20px;
}

.col-header h3 {
    font-weight: bolder;
}

.col-content span {
    display: inline-block;
    text-align: justify;
    font-weight: 600;
    padding: 0 20px 0 20px;
}

.col-img {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.col-img img {
    max-width: 250px;
    height: auto;
}