.background-container.ingredient {
    background: white;
    height: auto;
}

.header {
    top: 0;
    position: fixed;
}


.container {
    margin-top: 100px;
}

.content-box {
    border: rgb(181, 181, 181) solid 2px;
    height: 80vh;
    width: 65vw;
    margin: auto;
}

#sort-button {
    width: 40px;
    height: 60%;
    margin-top: 15px;
    /*margin-left: 15px;*/
    border: 0;
    background-color: #f4f4f4;
}

#sidebar {
    width: 320px;
    height: 100%;
    background-color: #fbfbfb;
    float: left;
    border-right: rgb(181, 181, 181) solid 2px;
}

#sidebar-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 320px;
    height: 75px;
    background-color: #f4f4f4;
    border-right: rgb(181, 181, 181) solid 2px;
    border-bottom: rgb(181, 181, 181) solid 2px;
}

#sidebar-title h2 {
    padding-top: 20px;
    width: max-content;
    font-size: x-large;
}

#sidebar-topic {
    height: 85%;
    overflow-y: auto;
    margin-top: 10px;
}

#sidebar-topic a {
    text-decoration: none;
    color: black;
}

#sidebar-topic a:active {
    border-radius: 5px;
    width: 100%;
}

#sidebar-topic li:hover {
    background-color: #cfcfcf;
    border-radius: 5px;
    width: 90%;
}

#sidebar ul {
    list-style-type: none;
}

#content-box {
    margin-left: 320px;
    padding: 20px;
}

#content {
    margin-top: 10px;
}

#head-content {
    display: flex;
    justify-content: space-between;
}

#content-category {
    text-align: center;
    padding: 0px 10px;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    font-weight: bold;
}

#foodGroupTitle {
    margin: 0;
    padding: 0;
}

#print-button {
    border: 0;
    background-color: #FFFFFF;
}

#content {
    padding-left: 20px;
}

.content-header {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    padding: 10px;
    margin-left: 0 !important;
}

.content-headerH2 {
    font-size: 14px;
    margin-top: 12px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #FFFFFF;
}

.nutrient-composition {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}

.nutrient-item {
    font-size: 13px;
    border: 3px solid #F3B111;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    white-space: nowrap;
}

.property-box {
    display: block;
    margin-left: 30px;
    font-size: 13px;
}

#content-box ul {
    font-size: 13px;
    list-style-type: none;
}

#category-imgbox {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#foodtype-img {
    pointer-events: none;
    max-width: 70%;
    max-height: 80%;
}
