.background-container.ingredient {
    background: white;
    height: auto;
}

#foodGroup-title {
    text-align: center;
}

.container {
    width: auto;
}


#chartdiv {
    width: 100%;
    height: 400px;
}

