.header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.logo {
    display: flex;
}

.logo-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.navbar {
    display: flex;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-item {
    display: flex;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link:hover {
    color: #006e2e;
}

.nav-link.active {
    border-bottom: 4px solid #00880b;
}

.navbar .nav-item .dropdown-menu {
    display: none;
}

/* Make .dropdown-menu has 4 columns */
.navbar .nav-item:hover .dropdown-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.navbar .nav-item .dropdown-menu {
    margin-top: 0;
    top: 100%;
    z-index: 1000;
}