#page-divider {
    border-top: 3px solid #000000;
}

#resultSection {
    padding: 20px;
}

#resultHeader {
    text-align: center;
    padding: 30px;
    font-weight: bolder;
}

#resultBody {
    width: 100%;
    margin: auto;
}
