body {
    width: 100vw;
    height: 100vh;
}

#header-visualization {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
}

#svg-visualization {
    width: 100vw;
    height: 75vh;
}

input {
    text-align: center;
}

.node {
    pointer-events: all;
    cursor: pointer;
    z-index: 1000;
    stroke: black;
}

.focused circle {
    stroke: #b90000;
    stroke-width: 2px;
    fill: rgb(255, 0, 0) !important;
    transform: scale(2.5);
}

.focused text {
    stroke: black;
    stroke-width: 1px;
}